<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gxdl.mapper.PermissionMapper">

<!-- 根据菜单id删除权限菜单关系表的pid数据 -->
<delete id="deleteRolePermissionByPid">
	delete from sys_role_permission where pid=${id}
</delete>
</mapper>
